 body, h1, h2, ul, li {
    margin: 0;
    padding: 0;  
    font-family: 'roboto', serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    font-size: 1.5em;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(227, 224, 224);
  }

  #cabecera { 
    background-color: #6EA429;
    width: 80%;
    height: 20px;
    margin: auto;
  
  }

  .container { 
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
  
  }
  .img-80 {
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 25px;
    

  }
  .grillas-a {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    padding: 20px 0px 5px 0px;
    width: 70%;
    margin: auto;
  }

    .grillas-b {
      display: grid;
      grid-template-columns: 1fr 1fr 50%;
      padding: 5px 0px 5px 0px;
      width: 70%;
      margin: auto;
      
    }
  
  .grillas-a img {
    width: 100%;
    height: auto;
    object-fit:fill;
    padding: 15px ;
  transition: transform .4s;
  }
    

  .grillas-b img {
    width: 100%;
    height: auto;
    object-fit:fill;
    padding: 15px;
    transition: transform .4s;
  }


  .grillas-a img:hover {
    transform: scale(1.1);
    transition: 0.8s;
  }
  .grillas-b img:hover {
    transform: scale(1.1);
    transition: 0.8s;
  }
  
.background-white {
  background-color: white;
}

h2 {
  text-align: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}



 /*Card */
 .plant-card {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.plant-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.plant-card h2 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  background-color: #2f4d09;
  color: rgba(255, 255, 255, 0.722);
  
}

.plant-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.plant-info img {
  max-width: 25%;
}

.plant-info ul {
  list-style: none;

}
.card-barra {
  display: flex;
  gap: 1rem;
  background-color: #2f4d09;
  justify-content: center;
  
}
.plant-info li {
  float: none;
  font-size: 1vw;
}
main {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  max-width: 80%;
  margin: auto;
}

/*ICONOS*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
